h1{
	color: black;
	font-size: 60px;
	font-family: Helvetica;
	text-align: center;
}
h2{
	color: black;
	font-size: 30px;
	font-family: Times New Roman;
}
p{
	color: black;
	font-family: Helvetica;
	font-size: 20px;
}
img{
  width: 150px;
  height: 150px;
}
body{
	background-image: url("bg.jpg");
	background-position: center;
}
li{
	color: black;
	font-family: Helvetica;
	font-size: 20px;
}
.low-opacity-background-image{
	background-image: url("bg.jpg");
	background-size: cover;
	
}